<launch>
    <arg name="fcu_url" default="/dev/ttyUSB0:230400"/>
    <arg name="gcs_url" default="udp://@192.168.86.33"/>
    <arg name="SYS_ID" default="1"/>

    <group ns="MAV$(arg SYS_ID)">
    	<param name="UAV_ID" value="$(arg SYS_ID)"/>
    	<param name="obs_safe_D" value="4"/>
    	<param name="obs_gamma" value="0.8"/>
        <param name="MAV_safe_D" value="4"/>
        <param name="MAV_gamma" value="0.8"/>
        <param name="delay_step" value="0"/>
    	<rosparam param="laplacian">
                            [1,0,0,0,0,
                             1,1,0,0,0,
                             1,1,1,0,0,
                             1,0,1,0,1,
                             1,0,1,0,1]
        </rosparam>
        <include file="$(find mavros)/launch/apm.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/>
            <arg name="tgt_system" value="$(arg SYS_ID)"/>
        </include> 
        <node name="gps_init_py" pkg="nullspace_control" type="gps_init.py" output="screen"></node>
        <node name="nullspace_ctrl" pkg="nullspace_control" type="nullspace_ctrl" output="screen"></node>
        <node name="velocity_cbf_generator" pkg="nullspace_control" type="velocity_cbf_generator" output="screen">
            <rosparam subst_value="true">
                use_input: "velocity"  #velocity,position
           </rosparam>
       </node>
    </group>
</launch>
